* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #dcdbdb;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-picture {
    border-radius: 50%;
    width: 250px;
    height: 250px;
    margin-right: 20px;
}

.contact-info {
    margin-left: 20px;
}

.contact-info h1 {
    margin-bottom: 10px;
}

.contact-info p, .contact-info a {
    font-size: 1.2rem;
    margin-bottom: 5px;
}

a {
    color: #ff6b6b;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

nav {
    background: #444;
    padding: 10px;
    width: 100%;
}

.nav-links {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.nav-links a {
    color: #514d4d;
    text-transform: uppercase;
    font-weight: bold;
}

main {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
}

section {
    margin-bottom: 50px;
}

h2 {
    border-bottom: 2px solid #333;
    padding-bottom: 10px;
    color: #444;
}

ul {
    margin-top: 10px;
}

ul li {
    list-style: none;
    margin: 10px 0;
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

form input[type="text"], form input[type="email"], form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

form input[type="submit"] {
    background-color: #d64040;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

form input[type="submit"]:hover {
    background-color: #d92525;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}
